:root {
    --COLOR0: #212121;
    --COLOR1: #6D9886;
    --COLOR2: #D9CAB3;
    --COLOR3: #F6F6F6;
    --debug-color: red;
    --timing-function: cubic-bezier(0, 1, 1, 1);
    --loading-transition-duration: 1s;
}

body {
    margin: 0;
    background: var(--COLOR0);
}


.circle {
    border-radius: 50%;
    background: var(--debug-color);
    width: 100%;
    /*position: relative;*/
    align-items: center;
    display: flex;
    justify-content: center;
}

.circle:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.circle > .c-inside {
    position: absolute;
}

#main {
    position: fixed;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

#main .CIRCLE0 {
    position: relative;
    width: 0;
    overflow: hidden;
    background: var(--COLOR0);
    transition: width var(--loading-transition-duration) var(--timing-function),border-radius var(--loading-transition-duration) var(--timing-function);
}
